<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>https://yourname.com/</loc></url>
  <url><loc>https://yourname.com/writing.html</loc></url>
  <url><loc>https://yourname.com/problems.html</loc></url>
  <url><loc>https://yourname.com/teaching.html</loc></url>
  <url><loc>https://yourname.com/cv.html</loc></url>
  <url><loc>https://yourname.com/contact.html</loc></url>
</urlset>
